body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
/* main style */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}

.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about style */

.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color:  #7A0C0C;
        margin-bottom: 20px;
        text-decoration: underline;
}

.about-name {
    font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: #7A0C0C;
        margin-bottom: 25px;
        text-decoration: underline;
}

.about-destription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    width: 400px;
}

/* projects styles */

.projects {
    margin-bottom: 50px;
}

.title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #7A0C0C;
        margin-bottom: 10px;
        text-decoration: underline;
}
.about-project{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    width: 400px;
}

/* work sttyles*/


.work-position {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color:#7A0C0C;
        margin-bottom: 10px;
        text-decoration: underline;
}

.work-list-item {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
}


/* sidebar style */
.sidebar {
    background-color: #edeaea;
    padding-top: 40px;
    width: 370px;
}
 .photo {
    width: 370px;
    margin-bottom: 50px;

 }

.contacts, 
.tech-skills, 
.soft-skills{
    margin-left: 40px;
    
}
.contacts {
    margin-bottom: 50px;
}


 .sidebar-title {
    color:  #7A0C0C;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    text-decoration: underline;
 }

 .contact-type {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        margin-right: 10px;
 }
 .contact-link {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #565F6B;
 }
 
 .tech-skills-list {
    color: #000000;
    padding: 0;
    margin-left: 16px;
 }

 .tech-skills-item {
    color: #7A0C0C;
 }

 .tech-skills-text {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
 }

.tech-skills {
    margin-bottom: 45px;

}

 .soft-skills-list {
    color: #000000;
    padding: 0;
    margin-left: 16px;
 }

.soft-skilla-item {
    color: #7A0C0C;
}

 .soft-skills-text {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
 }

